@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/globals.scss";

.footerStyle {
  
  .footerContentStyle {
    width: 100%;
    text-align: center;
    padding: 30px;

    @include tablet-or-less {
      padding: 10px;
    }
  }
}