@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/globals.scss";

.footerStyle {
  position: inherit;
  background: transparent !important;
  font-weight: bold !important;
  color: $orangeDark !important;

  .footerContentStyle {
    width: 100%;
    text-align: center;
  }
}


.fixedImage {
  top: 60px !important;
  height: 10vh;
  width: 95%;
  object-fit: cover;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000);
  background-size: 400%;
  /* Daha geniş animasyon alanı */
  animation: snakeAnimationMobile 5s linear infinite;
  z-index: 9999;
  // padding-right: 50px;
}