@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/globals.scss";

.BodyStyle {
  min-height: 98vh !important;
  margin: 0 !important;
  background-color: $white !important;
  color: $font !important;
  font-family: 'Times New Roman' !important;
  font-size: 14px !important;
  
  :global {
    .MuiChip-label {
      font-family: 'Times New Roman' !important;
      font-size: 14px !important;
    }
    .MuiTypography-root {
      font-family: 'Times New Roman' !important;
      font-size: 14px !important;
    }
  }
}

.HeaderStyle {
  min-height: 50px !important;
  // background: linear-gradient(to top, $white, $yellow) !important;

  // background-color: $font;
  // background-image: linear-gradient(160deg, $white 0%, $yellow 63%, $orange 100%);

  // background-color: $font;
  // background-image: linear-gradient(to top, $white 0%, $blue 63%, $font 100%);
  // background: linear-gradient(to top, $white, $yellow) !important;
  background: rgb(2,83,157);
background: linear-gradient(90deg, $font 25%, $blue 50%, $white 85%);
  h1, h1 a{
    color: $gold !important;
  }
}

.FooterStyle {
  min-height: 50px !important;
  font-weight: bold !important;
  // background: linear-gradient(to bottom, $white, $yellow) !important;
  color: $gold !important;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, $white 25%, $blue 50%, $font 90%);
}

.BodyStyle {
  display: flex !important;
  flex-direction: column !important;
}

.ContentStyle {
  flex: 1 !important;
  background-color: $white !important;
  padding: 30px !important;
  padding-top: 5px !important;

  @include tablet-or-less {
    padding: 10px !important;
    margin-top: 5vh !important;
  }
}