@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/globals.scss";

.BodyStyle {
  min-height: 98vh !important;
  margin: 0 !important;
  background-color: $white !important;
  color: $font !important;
  font-family: 'Times New Roman' !important;
  font-size: 14px !important;

  :global {
    .MuiChip-label {
      font-family: 'Times New Roman' !important;
      font-size: 14px !important;
    }

    .MuiTypography-root {
      font-family: 'Times New Roman' !important;
      font-size: 14px !important;
    }
  }
}

.HeaderStyle {
  min-height: 50px !important;
  background: rgb(2, 83, 157);
  background: linear-gradient(90deg, $font 25%, $blue 50%, $white 85%);

  h1,
  h1 a,
  h2,
  h2 a {
    color: $gold !important;
  }

  @include tablet-or-less {
    background: linear-gradient(to top, $white 25%, $blue 50%, $font 90%);
    min-height: 65px !important;
  }

}

.FooterStyle {
  min-height: 50px !important;
  font-weight: bold !important;
  color: $gold !important;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, $white 25%, $blue 50%, $font 90%);

  @include tablet-or-less {
    // background: linear-gradient(to top, $white 25%, $blue 50%, $font 90%);
    background: linear-gradient(180deg, $white 15%, $blue 35%, $font 85%);
    min-height: 100px !important;
  }
}

.BodyStyle {
  display: flex !important;
  flex-direction: column !important;
}

.ContentStyle {
  flex: 1 !important;
  background-color: $white !important;
  padding: 30px !important;

  @include tablet-or-less {
    padding: 10px !important;
    margin-top: -px !important;

    :global {
      .MuiGrid-root {
        padding-top: 0px !important;
      }
    }
  }

  .GoogleAdsPanelStyle {
    // background-color: red !important;

    @include tablet-or-less {
      max-height: 100px !important;
    }
  }

}