@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/globals.scss";


.ContainerPageContainerStyle {
  display: flex !important;
  flex-direction: column !important;
  min-height: 98vh !important;
  margin: 0 !important;
  color: $font !important;
  font-size: 14px !important;

  :global {
    .MuiChip-label {
      font-size: 14px !important;
    }

    .MuiTypography-root {
      font-size: 14px !important;
    }
  }

  .HeaderStyle {
    min-height: 50px !important;
    background-color: transparent !important;

    h1,
    h1 a,
    h2,
    h2 a {
      color: $orangeDark !important;
    }

    @include tablet-or-less {
      // background: linear-gradient(to top, $white 25%, $blue 50%, $font 90%);
      min-height: 65px !important;
    }
  }

  .ContentStyle {
    width: 100%;
    z-index: 2;
    flex: 1 !important;
    display: flex;
    background-color: transparent !important;

    @include tablet-or-less {
      padding: 0px !important;
      // margin-top: -px !important;

      :global {
        .MuiGrid-root {
          padding-top: 0px !important;
        }
      }
    }
  }
}

.HomePageInfoStyle {
  color: black;
}

@keyframes snakeAnimation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

.PanelContainerStyle {
  margin-top: 30px;
  padding: 10px;
  padding-right: 20px;
  /* Çerçeve kalınlığı için */
  border-radius: 15px;
  /* Köşeleri yuvarlamak için */
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000);
  background-size: 300%;
  animation: snakeAnimation 5s linear infinite;
}

.HomePageInfoStyle img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 10px;

  border: 5px solid transparent;
  /* Resmin kendisine kenarlık eklemek için */
  background: linear-gradient(white, white) padding-box, linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000) border-box;
  animation: snakeAnimation 5s linear infinite;
  /* Animasyonu sadece çerçevede uyguluyoruz */
}

@keyframes snakeAnimationMobile {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

@keyframes snakeAnimationMobile {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

@media only screen and (max-width: 768px) {
  .commercialImageContainerForMobile {
    animation: simpleAnimation 3s infinite;
  }

  @keyframes simpleAnimation {
    0% {
      background-color: red;
    }

    50% {
      background-color: blue;
    }

    100% {
      background-color: red;
    }
  }
}

.fixedImage {
  position: fixed;
  top: 60px !important;
  height: 10vh;
  width: 95%;
  object-fit: fill;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000);
  background-size: 400%;
  /* Daha geniş animasyon alanı */
  animation: snakeAnimationMobile 5s linear infinite;
  z-index: 9999;
  // padding-right: 50px;
}