@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/globals.scss";

.PanelContainerStyle {
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  box-shadow: none !important;
  padding: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;

  .CardContainerStyle {
    padding: 10px !important;
  }

  // .CardContainerStyle:hover, 
  // .CardContainerSelectedStyle {
  //   border-width: 5px !important;
  //   border-style: solid !important;
  //   border-color: $blueDark !important;
  //   border-image: linear-gradient(to bottom, $blueDark, $white) 1 100% !important;
  // }
}